.qualitative-container {
  min-width: 100%;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.card {
  height: 100%;
  border: none !important;
  border-width: 0 !important;
}

.card-body {
  flex: 1 1 auto;
  height: 265px;
}
.content {
  justify-content: flex-start;
  /* display: flex; */
}
